<html>
<head>

</head>


<body>

<h1>testing dynamic form</h1>
<h3>Add Course Lessons:</h3>

<div [formGroup]="companyForm">
    <div>
        <label for="companyName">Company Name</label>
        <input id="companyName" type="text" formControlName="companyName" />
    </div> 
    <ng-container formArrayName="admins">
        <ng-container *ngFor="let adminForm of admins.controls; let index = index">
            <div [formGroupName]="index">
                <input id="name" type="text" formControlName="name" />
                <input id="email" type="text" formControlName="email" />    
                <button type="button"  (click)="deleteAdmin(index)">delete</button>       
            </div>
        </ng-container>
    </ng-container>
    <button type="button" (click)="addNewAdmin()">Add</button>
    <button type="button" (click)="save()">save</button>
</div>

</body>


</html>